
<div style="text-align:center">
  <h5>
    {{ title }}!
  </h5>

  <img width="60" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <p>threeJS WebGL library</p>
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark bg-faded">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link bld" routerLink="/geometry" data-toggle="tab">Donut</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bld" routerLink="/cubes" data-toggle="tab">Cube</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bld" routerLink="/abstract" data-toggle="tab">Triangle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bld" routerLink="" data-toggle="tab">Clear page</a>
    </li>

  </ul>
</nav>
<router-outlet></router-outlet>
<div class="fmt">
  <p>

    What exactly is Angular lazy loading? Lazy loading provides only loading components of a user request when they are needed.
    Lazy Loading a large web application can be a great help for performance and minimizing the initial load size. The performance
    gains are very significant if the initialization of an object is an issue, like in case of accessing network services.
    This makes it ideal in use cases where network content is accessed and initialization times are to be kept at a minimum,
    like loading web pages (external libraries, images, large data files, etc).
  </p>
  <ul>
    <span class="seo">Advantage of Angular Lazy Loading</span>
    <li>
      Reduce the initial object load of web application
    </li>
    <li>
      Smaller object loads are lower resource costs for mobile applications.
    </li>
    <li>
      Lazy loading provides much faster loading applications.
    </li>
    <li>
      E-commerce Web applications notice lower resource costs since content is only delivered when the user needs it.
    </li>
  </ul>


  <p>Lazy Loading may impact on
    <span class="seo">SEO</span>. One solution to by pass the issue for Search Engine crawling is to provide links to lazy loaded content.
    That is creating webpages out of the content accessible to search engine crawlers. That way a search engine can indexes
    the website and follows the links to find them.
  </p>

  <p>
    It is not that complex to configure the Lazy Loading in latest Angular (5.2). I am using
    <span class="seo">
      <a href="https://threejs.org/" target="_blank">Threejs.org</a>
    </span> libraries to animate few  mathematical animations. Threejs is a large library and it works nicely with Angular Lazy Loading
    techniques. I created feature module, feature module's routing module and then configured the routes.
  </p>
  <div class="bck">
    <pre><code>ng generate module threejs --routing</code></pre>

    <pre><code>ng generate component threejs/treejs-triangle</code></pre>
  </div>
</div>
    <p>app-routing.module.ts</p>
    <img src='assets/images/p1.png' class="im">

<p class="mar">geometry.module.ts - feature module</p>
<img src='assets/images/p2.png' class="im">

<p class="mar">Chrome network debug report</p>
<img src='assets/images/p3.png' class="im" style="width:320px;">
<p>
  The chunk js files shows that everything is working properly and the feature modules are being lazy loaded.
  The codes are available in github repository. 
  <a href="https://github.com/nafsar" target="blank">Sample Angular Lazy Loading with threejs library animation</a>
</p>
<div class="mar">&nbsp;</div>
